*{
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 64px;
    background-color: red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-X: hidden;
   
}
/* SCREEN3-1 */
 .screen3-1 main { 

/*define a div pai de todos os itens centralizados*/

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 71px;
    align-items: center;
    width: 50vw;
    background-color: #FFFFFF;
 }

.title {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
}

.f-makeQuizz{
    display: flex;
    width: 41.6vw;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 0 16px 22px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
 }

.f-makeQuizz input {
    color: #BABABA;
    width:39.1vw;
    height: 46px;
    margin-top: 22px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;

 }

 input:focus {
    outline: none;
 }
label {
    font-weight: 700;
    color: #000000;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px; 
}
 .button {
    width: 25.5vw;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 81px;
 }
/* SCREEN3-2 */
.f-makeQuestions{
    display: flex;
    width: 41.6vw;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #FFFFFF;
    padding: 0  16px 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
     
}
.f-makeQuestions div {
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.f-makeQuestions input{
    color: #BABABA;
    width:39.1vw;
    height: 46px;
    margin-top: 12px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}


.f-makeQuestions input:nth-child(4){
    margin-top:32px;
}

.f-makeQuestions input:nth-child(6){
    margin-top:32px;
}

.screen3-2 main {
    /*define a div pai de todos os itens centralizados*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    background-color: #FFFFFF;
    margin-bottom: 468px;
 }

 .more-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41.6vw;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 24px;
 }
 .more-questions label {
    padding-left: 16px;  
}

 .more-questions img{
    width: 26px;
    height: 26px;
    margin-right: 26px;
 }

.screen3-2 .button{
    width:352px;
    height: 54px;
}

/* SCREEN3-3 */
.screen3-3 main {
    /*define a div pai de todos os itens centralizados*/
    display: flex;
    width: 41.6vw;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    background-color: #FFFFFF;
    margin-bottom: 468px;
 }

 .f-makeLevels {
    display: flex;
    width: 41.6vw;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #FFFFFF;
    padding: 0 16px 27px;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

 }

 .f-makeLevels div {
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.f-makeLevels input{
    color: #BABABA;
    width:39.1vw;
    height: 46px;
    margin-top: 12px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}

.more-levels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41.6vw;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 24px;
 }

 .more-levels label {
    padding-left: 16px;  
}
.more-levels img{
    width: 26px;
    height: 26px;
    margin-right: 16px;
 }


.screen3-3 .button{
    width:324px;
    height: 54px;
}

/*SCREEN 3-4*/
.screen3-4 main {
/*define a div pai de todos os itens centralizados*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    background-color: #FFFFFF;
    margin-bottom: 468px;
 }

 .img-final {
    width: 500px;
    height: 266px;
    position: relative;
    margin-top: 46px;
 }
 .togradiente{
    width: 100%;
    height: 266px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, black, transparent);
    background-size: cover;
    border-radius: 5px;
 }
 .screen3-4 figure img {
    width:100%;
    height: 266px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    border-radius: 5px;
  } 
 
  .screen3-4 p {
    position: absolute;
    bottom: 22px;
    margin-left: 23px;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .home-back {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 9px;
  }

  .screen3-4 .button {
    width: 219px;
    height: 44px;
  }

  .hidden {
    display: none;
}