* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tituloGeral {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}

/* INÍCIO: Tela 1 - Tela 1 - Lista de Quizzes */

.tela1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarQuizz {
    width: 73vw;
    height: 181px;
    margin-top: 146px;
    margin-bottom: 77px;
    border: dashed 1px #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarQuizz p {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.criarQuizz button {
    width: 151px;
    height: 40px;
    background-color: #fafafa;
    border: dashed 1px #EC362D;
    color: #EC362D;
    border-radius: 20px;
    margin-top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.seusQuizzes {
    /* width: 100vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seusQuizzesAdicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.seusQuizzesAdicionar img {
    width: 30px;
    height: auto;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.divQuizzes {
    width: 73vw;
    margin-top: 0.8vw;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaQuizzes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.itemListaMain {
    display: flex;
    position: relative;
}

.relativeIndex {
    width: 340px;
    height: 181px;
    display: flex;
}

.todosOsQuizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relativeIndex .gradient {
    width: 340px;
    height: 181px;
    background-image:  linear-gradient( to top, black, transparent);
    border-radius: 7px;
    z-index: 1;
}

.relativeIndex img {
    width: 340px;
    height: 181px;
    border-radius: 7px;
    position: absolute;
    z-index: 0;
}

.itemLista {
    width: 340px;
    height: 181px;
    padding: 15px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.itemLista p {
    color: #ffffff;
    width: 88%;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}






/* INÍCIO: Tela 2 - Página de um quizz */

.capaQuizz {
    width: 100vw;
    height: 227px;
    margin-top: 69px;
}

.relative {
    position: relative;
    width: 100vw;
    height: 227px;
}

.absolute {
    position: absolute;
    width: 100vw;
    height: 227px;
    background-color: black;
    top: 69px;
    filter: opacity(60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.capaQuizz img {
    width: 100vw;
    height: 227px;
    object-fit: cover;
}

.tituloCabecalho {
    position: absolute;
    width: 100vw;
    height: 227px;
    top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.tituloCabecalho h2 {
    max-width: 70vw;
    color: #FFFFFF;
    font-size: min(39px, 5.5vw);
    font-weight: 400;
    position: absolute;
}

.quizz {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaQuizzCompleto {
    width: 759px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    column-gap: 20px;
}

.perguntas {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: min(30px, 5vw);
}

.enunciadoPergunta {
    width: 100%;
    height: 138px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.enunciadoPergunta h3 {
    color: #FFFFFF;
    font-size: min(23px, 5.5vw);
    font-weight: 700;
    padding: 25px;
    line-height: 28px;
}

.alinhaAlternativas {
    display: flex;
}

.alinhaEscolhas {
    width: 100%;
    display: flex;
}

.alternativas {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.alternativas img {
    width: 330px;
    height: 175px;
    object-fit: cover;
    margin-top: 10px;
}

.alternativas p {
    margin-top: 1vw;
    font-weight: 700;
    font-size: min(20px, 3.5vw);
}

.transparencia {
    filter: opacity(40%);
}

.respostaCorreta {
    color: #009C22;
}

.respostaErrada {
    color: #FF4B4B;
}

.listaResultado {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: min(30px, 5vw);
    margin-top: 20px;
    margin-bottom: 25px;
    gap: 15px;
}

.infosResultado {
    width: 100%;
    display: flex;
    gap: 15px;
}

.listaResultado img {
    width: 42vw;
    max-width: 330px;
    height: 175px;
    object-fit: cover;
    margin-top: 10px;
}

.infosResultado p {
    font-size: min(19px, 4vw);
    font-weight: 700;
    line-height: 5.5vw;
    margin-top: 10px;
    color: #484848;
}

.botaoReiniciarQuizz {
    width: 261px;
    height: 52px;
    background-color: #EC362D;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 12px;
    border: none;
}

.voltarPraHome {
    text-decoration: none;
    color: #818181;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-widht:1100px) {
    
}













/* INÍCIO: Tela 3 - Criação de Quiz */

.screen3-1 main { 

    /*define a div pai de todos os itens centralizados*/
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    align-items: center;
    width: 50vw;
    }
        
    .title {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    }
        
    .f-makeQuizz{
    display: flex;
    width: 600px;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 0 16px 22px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
    
    .f-makeQuizz input {
    color: #BABABA;
    width:564px;
    height: 46px;
    margin-top: 22px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
    
/* INÍCIO DO PONTO DE ATRITO DE ARQUIVOS */

    }
    
    input:focus {
    outline: none;
    }
    label {
    font-weight: 700;
    color: #000000;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px; 
    }
    .button {
    width: 367.2px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 81px;
    }
    /* SCREEN3-2 */
    .f-makeQuestions{
    display: flex;
    width: 600px;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #FFFFFF;
    padding: 0  16px 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        
    }
    .f-makeQuestions div {
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    }
    
    .f-makeQuestions input{
    color: #BABABA;
    width:564px;
    height: 46px;
    margin-top: 12px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
    }
    
    
    .f-makeQuestions input:nth-child(4){
    margin-top:32px;
    }
    
    .f-makeQuestions input:nth-child(6){
    margin-top:32px;
    }
    
    .screen3-2 main {
    /*define a div pai de todos os itens centralizados*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    margin-bottom: 468px;
    }
    
    .more-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 24px;
    }
    .more-questions label {
    padding-left: 16px;  
    }
    
    .more-questions img{
    width: 26px;
    height: 26px;
    margin-right: 26px;
    }
    
    .screen3-2 .button{
    width:352px;
    height: 54px;
    }
    
    /* SCREEN3-3 */
    .screen3-3 main {
    /*define a div pai de todos os itens centralizados*/
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    margin-bottom: 468px;
    }
    
    .f-makeLevels {
    display: flex;
    width: 600px;
    height: auto;
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #FFFFFF;
    padding: 0 16px 27px;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
    }
    
    .f-makeLevels div {
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    }
    
    .f-makeLevels input{
    color: #BABABA;
    width:564px;
    height: 46px;
    margin-top: 12px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
    }
    
    .more-levels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41.6vw;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 24px;
    }
    
    .more-levels label {
    padding-left: 16px;  
    }
    .more-levels img{
    width: 26px;
    height: 26px;
    margin-right: 16px;
    }
    
    
    .screen3-3 .button{
    width:324px;
    height: 54px;
    }
    
    /*SCREEN 3-4*/
    .screen3-4 main {
    /*define a div pai de todos os itens centralizados*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    margin-bottom: 468px;
    }
    
    .img-final {
    width: 500px;
    height: 266px;
    position: relative;
    margin-top: 46px;
    }
    .togradiente{
    width: 100%;
    height: 266px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, black, transparent);
    background-size: cover;
    border-radius: 5px;
    }
    .screen3-4 figure img {
    width:100%;
    height: 266px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    border-radius: 5px;
    } 
    
    .screen3-4 p {
    position: absolute;
    bottom: 22px;
    margin-left: 23px;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    }
    
    .home-back {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 9px;
    }
    
    .screen3-4 .button {
    width: 219px;
    height: 44px;
    }
    
    .hidden {
    display: none;
    }
    
    /* FINAL: Tela 3 - Criação de Quiz */




 /* INÍCIO DA ATUALIZAÇÃO DO JOÃO */


.f-makeQuestions div {
background-color:  #FFFFFF;
display: flex;
flex-direction: column;
margin-top: 27px;
}

.f-makeQuestions input{
color: #BABABA;
width:564px;
height: 46px;
margin-top: 12px;
background-color: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 5px;
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;
padding-left: 23px;
}


.f-makeQuestions input:nth-child(4){
margin-top:32px;
}

.f-makeQuestions input:nth-child(6){
margin-top:32px;
}

.screen3-2 main {
/*define a div pai de todos os itens centralizados*/
width:600px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 132px;
margin-bottom: 468px;
}

.more-questions {
display: flex;
justify-content: space-between;
align-items: center;
width: 600px;
height: 74px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
width: 100%;
margin-top: 24px;
}
.more-questions label {
padding-left: 16px;  
}

.more-questions img{
width: 26px;
height: 26px;
margin-right: 26px;
}

.screen3-2 .button{
width:352px;
height: 54px;
}

/* SCREEN3-3 */
.screen3-3 main {
/*define a div pai de todos os itens centralizados*/
display: flex;
width: 600px;
flex-direction: column;
align-items: center;
margin-top: 132px;
margin-bottom: 468px;
}

.f-makeLevels {
display: flex;
width: 600px;
height: auto;
margin-top: 27px;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color:  #FFFFFF;
padding: 0 16px 27px;;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}

.f-makeLevels div {
background-color:  #FFFFFF;
display: flex;
flex-direction: column;
margin-top: 27px;
}

.f-makeLevels input{
color: #BABABA;
width:564px;
height: 46px;
margin-top: 12px;
background-color: #FFFFFF;
border: 1px solid #D1D1D1;
border-radius: 5px;
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;
padding-left: 23px;
}

.more-levels{
display: flex;
justify-content: space-between;
align-items: center;
width: 41.6vw;
height: 74px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
width: 100%;
margin-top: 24px;
}

.more-levels label {
padding-left: 16px;  
}
.more-levels img{
width: 26px;
height: 26px;
margin-right: 16px;
}


.screen3-3 .button{
width:324px;
height: 54px;
}

/*SCREEN 3-4*/
.screen3-4 main {
/*define a div pai de todos os itens centralizados*/
display: flex;
flex-direction: column;
align-items: center;
margin-top: 132px;
margin-bottom: 468px;
word-wrap: break-word;
}

.img-final {
width: 500px;
height: 266px;
position: relative;
margin-top: 46px;
word-wrap: break-word;
}
.togradiente{
width: 100%;
height: 266px;
position: absolute;
z-index:1;
background: linear-gradient(to top, black, transparent);
background-size: cover;
border-radius: 5px;
}
.screen3-4 figure img {
width:100%;
height: 266px;
object-fit: cover;
position: absolute;
z-index: 0;
border-radius: 5px;
} 

.screen3-4 p {
position: absolute;
bottom: 22px;
margin-left: 23px;
z-index: 1;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
color: #FFFFFF;


}

.home-back {
display:flex;
align-items: center;
justify-content: center;
width: 219px;
height: 44px;
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #818181;
margin-top: 9px;
}

.screen3-4 .button {
width: 219px;
height: 44px;
}

.hidden {
display: none;
}



@media(max-width: 1100px) {
    .f-makeQuizz  {
        width:100vw;
    }
    .f-makeQuizz input {
        width:100%;
        padding-left:14px;
    }

    .button {
        width:86vw;
        margin-top:53px;
    }
    .title {
        width:100vw;
    }
    .screen3-1 main{
        width:100vw;
    }
    .f-makeQuestions{
        width:100vw;
    }
    .f-makeQuestions input {
        width:100%;
        padding-left:14px;
    }
    .f-makeQuestions div{
        width: 91vw;
    }
    .screen3-2 main {
        width:100vw;
    
    }
    .screen3-2 .button{
        width:86vw;
        margin-top:46px;
    }
    .more-questions{
       width: 100vw;
    }
    .screen3-3 main{
        width:100vw;
    }
    .screen3-3 .button{
        width:86vw;
        margin-top:46px;
        margin-bottom: 136px;
    }
    .f-makeLevels{
        width:100vw;
    }
    .f-makeLevels div{
        width: 91vw;
    }
    .f-makeLevels input{
        width:100%;
        padding-left:14px;
    }
    .more-levels{
        width: 100vw
    }
    .screen3-4 .button{
        width:58.6vw;
        margin-top:24px;
    }
    .home-back{
        width: 58.6vw;
    }
    .img-final{
        width:90vw;
        height: 181px;
    }
    .screen3-4 p{
        bottom:22px;
    }
    .screen3-4 figure img {
        width:100%;
        height: 181px;
    }
    .togradiente{
        width: 100%;
        height: 181px;
    }
} 

 /* FINAL DO MERGING */

/* FINAL: Tela 3 - Criação de Quiz */
